.post-title {
  color: $lightest-color;
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  .split {
    width: 100%;
    @media (min-width: 940px) {
      display: flex;
      gap: .5em;
      > * {
        flex: 1;
      }
    }
    margin-bottom: .5em;
  }

  pre[class*=language-] {
    margin: 0;
    .line-highlight {
      left: 3em;
      width: calc(100% - 3em) !important;
      background: rgba(87,204,138,.1);
    }
  }

  :not(pre)>code[class*=language-] {
    padding: 0.3em 0.5em;
  }

  blockquote {
    border-left: 0.4em solid rgba($primary-color, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: $darkest-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }

  .footnotes {
    hr {
      border-color: #888888;
    }
    font-size: 0.8em;
    ol {
      padding-left: 2em;
      li {
        margin: 0;
        p {
          margin: 0;
        }
      }
    }
  }

  .tb {
    width: 100%;
    display: block;
    margin-bottom: .5em;

    .r {
      background: #2D2D2D;
      &:nth-of-type(odd) {
        background: #323232;
      }
      &.h {
        background: rgba(87,204,138,.3);
        font-weight: bold;
        color: #ffffff;
        display: none;
      }

      .c {
        padding: .5em;
      }
    }
    @media screen and (max-width: 940px) {
      border-left: 3px solid rgba(87,204,138,.4);
      .c:before {
        display: block;
        content: attr(data-title);
        font-size: .8em;
        font-weight: bold;
        line-height: .8em;
        color: rgba(87,204,138,.7);
      }
      .c {
        text-indent: -.8em;
        padding-left: 1.6em !important;
      }
    }
    @media (min-width: 940px) {
      display: table;
      font-size: 0.9em;
      .r {
        display: table-row !important;
        .c {
          display: table-cell;
          font-size: 0.9em;
        }
      }
    }
  }

  .box {
    background: #2D2D2D;
    padding: 1em;
    &:before {
      display: block;
      content: attr(data-title);
      font-size: .8em;
      font-weight: bold;
      line-height: .8em;
      color: rgba(87,204,138,.7);
    }
  }
}

.post-comment {
  .utterances {
    max-width: 100%;
  }
}