.post-title {
  color: $lightest-color;
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  .split {
    @media (min-width: 940px) {
      display: flex;
      gap: .3em;
      > * {
        flex: 1;
      }
      overflow-y: scroll;
    }

    &.rounded {
      border-radius: .3em;
      >* {
        border-radius: unset !important;
        margin: 0 !important;
      }
    }
  }

  pre[class*=language-] {
    .line-highlight {
      width: 100% !important;
      background: hsla(24, 20%, 50%, .1) 70%;
    }
  }

  :not(pre)>code[class*=language-] {
    padding: 0.3em 0.5em;
  }

  blockquote {
    border-left: 0.4em solid rgba($primary-color, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: $darkest-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }

  .footnotes {
    hr {
      border-color: #888888;
    }
    font-size: 0.8em;
  }
}
